<br>
<form action='<%= nextPath %>' method='get' onsubmit="if(document.getElementById('agree').checked) {$.ajax({
                url:'/data',
                type:'post',
                data: $('form').serialize(),
            }); alert('Submission received! All done with this excerpt')} else { alert('Please indicate that you have completed this portion of the experiment faithfully and are ready to submit, and make sure youve made a selection for each required question'); return false; }">
<div>
<input type="radio" name="winner + <%= path %>" value="1" > Pianist # 1
<br>
<input type="radio" name="winner + <%= path %>" value="2">Pianist # 2
<br>
<input type="radio" name="winner + <%= path %>" value="3">Pianist # 3
<br><br>
</div>

<div>
Please indicate how difficult it was for you to decide your preferred performance, 1 being not difficult at all,
3 being moderately difficult, and 5 indicating that you chose randomly between at least two of the performances. <br>
<% for (var i=1; i<6; i++) { %>
    <input type='radio' name='difficulty + <%= path %>' value='<%= i %>'> <%= i%>
    <% } %> 
<br><br>
</div>

<div>
Please indicate which of the three performances you believe was second best. 
<br>
<input type="radio" name="second + <%= path %>" value="1" > Pianist # 1
<br>
<input type="radio" name="second + <%= path %>" value="2">Pianist # 2
<br>
<input type="radio" name="second + <%= path %>" value="3">Pianist # 3
<br><br>
</div>

<div>
Please indicate how difficult it was for you to decide your second preferred performance, 1 being not difficult at all,
3 being moderately difficult, and 5 indicating that you chose randomly between at least two of the performances. <br>
<% for (var i=1; i<6; i++) { %>
    <input type='radio' name='difficulty2 + <%= path %>' value='<%= i %>'> <%= i%>
    <% } %> 
<br><br>
</div>

If you would like to share any information about what factors, musical, pianistic or otherwise, influenced your decision, please do so here (optional): <br>
<textarea name="textarea" style="width:500px;height:50px;"></textarea>
<br><br>

Did you recognize the music being played in the excerpts, or any of the pianists? If so, please say what section of what piece it was, or which pianist(s) you recognize (optional):<br>

<textarea name="textarea" style="width:500px;height:50px;"></textarea>
<br><br>

If you had any issues streaming the audio or video, please make note of that here (e.g., video 2 was choppy, audio 1 failed to load) (optional): <br>

<textarea name="textarea" style="width:500px;height:50px;"></textarea>
<br><br>