Please listen to the three excerpts below and use the form underneath to rate them and choose a winner.
<ul>
    <% for(var i=0; i<links.length; i++) { %>
        <li>
            <audio controls>
            <source src="<%= links[i] %>"" type="audio/mpeg">
                
            </audio>
        </li>
    <% } %>
</ul>

<br><br>


Please choose a winner
<br>
<form action='/data' method='post' onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have are completing the form for this excerpt for the first and only time. Otherwise please close this browser window and do not complete the experiment'); return false; }">
<input type="radio" name="winner + <%= path %>" value="1" > Pianist # 1
<br>
<input type="radio" name="winner + <%= path %>" value="2">Pianist # 2
<br>
<input type="radio" name="winner + <%= path %>" value="3">Pianist # 3
<br><br>


Please rate each pianist on a scale of 1-10 (10 being the best, 1 being the worst)
<br><br>
<% for (var j=1; j<4; j++) { %>
    pianist #<%= j %> <br>
    <% for (var i=1; i<11; i++) { %>
        <input type='radio' name='rating + <%= path %> + pianist + <%= j %>' value='<%= i %>' > <%= i %>
        
    <% } %>
    <br><br>
   <% } %>
<br><br>
What do you think this was experiment is about? <br><br>
<textarea name="textarea" style="width:250px;height:150px;"></textarea>
<br><br>
Any other feedback would be greatly appreciated! <br><br>
<textarea name="textarea" style="width:250px;height:150px;"></textarea>
<br><br>
<input type="checkbox" name="checkbox" value="check" id="agree" /> I have completed the experiment faithfully, and this is the first time I am completing the experiment for this excerpt <br>

<input type='submit' value='Submit responses'>
</form>

<a href='/'> Click to return to the home page </a>